.botao{
    background-color: #2f4157;
    border: none;
    color: white;
    width: 15%;
    height: 40px;

    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    font-size: 16px;
}

@media screen and (max-width: 765px){
    .botao {
        font-size: 14px;
    }
}
