.cardDaImagem{
    background-color: white;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0 20px 0;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imgDoCard{
    width: 200px;
    height: 200px;
}